## Nexus3 URL:
registry = http://p-nexus-3.nl.eu.abnamro.com:8081/repository/fed-npm-all/

## Nexus2 URL:
#registry = https://p-nexus.nl.eu.abnamro.com:8443/nexus/content/groups/fed-npm-all/

## phantomjs-prebuilt download URL
phantomjs_cdnurl=http://p-nexus-3.nl.eu.abnamro.com:8081/repository/npm-3rd-party-raw-hosting/phantomjs

## node-sass binaries download location
sass_binary_site=http://p-nexus-3.nl.eu.abnamro.com:8081/repository/npm-3rd-party-raw-hosting/node-sass

loglevel = warn